<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philipp.scrum" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Projects"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".ProjectActivity"
            android:windowSoftInputMode="adjustNothing"/>
        
        <activity
            android:name=".MainActivity"
            android:label="Projects" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
